.benefits {

   

    width: 100%;
    height: 527px;


    &__content{
        padding-top:$spacer-3;
        padding-left:$spacer-3;
    }

    &__p {
        color: $color3;
        font-family: Poppins;
        font-size: $spacer-14;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: $spacer-53;
        text-transform: uppercase;

    }

    &__h3 {
        color: $color3;
        font-family: Poppins;
        font-size: $spacer-28;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;


    }

}

@include mobile{


    .benefits{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &__h3 {
            color: $color3;
            font-family: Poppins;
            font-size: $spacer-28;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: capitalize;
            text-align: center;
    
    
        }

        &__p {
            color: $color3;
            font-family: Poppins;
            font-size: $spacer-14;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: $spacer-53;
            text-transform: uppercase;
            text-align: center;
    
        }
    }

        
    }
    

   





@include tablet{

    .benefits{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}