.benefitcard{
   

    &__img{
        padding: $spacer-4;
        padding-top: $spacer-4;
    }
}

@include mobile{

    .befitcard{
        display: block;
    
    
       }
       

   

    

}

@include tablet{
   .befitcard{
    display: block;


   }
   
   

}