.container{
    width: 100%;
    height: 60vh;
    background: $color4;
    display: flex;
}

@include mobile{
    .container{
        flex-wrap: wrap;
        height: fit-content;
    }

   

}



@include tablet{

    .container{
        flex-wrap: wrap;
        height: fit-content;
       text-align: center;
      
    }
   

}